$marvelRed: #F0141E;
$marvelBlack: #000000;
$marvelWhite: #FFFFFF;
$marvelGray: #767676;

$mainTitleFontSize: 32px;
$titleFontSize: 20px;
$subtitleFontSize: 18px;
$textFontSize: 16px;

$mainTitleFontWeight: 600;
$titleFontWeight: 500;
$subtitleFontWeight: 400;
$textFontWeight: 300