body,
a,
div,
img,
ul,
li,
header,
section,
article,
h1,
h2,
h3,
p,
footer,
span {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Kanit", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
}

#app {
  display: grid;
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

.header {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__image-wrapper {
  display: flex;
  align-items: center;
  margin: auto;
  padding: 20px 0;
  gap: 50px;
}
.header__image-wrapper__link img {
  height: 100px;
  width: auto;
  max-width: 1200px;
}
.header__image-wrapper__title {
  font-size: 20px;
  color: #FFFFFF;
}
.header__navbar__items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.header__navbar__items__item {
  padding: 10px 50px;
  text-align: center;
  min-width: 100px;
}
.header__navbar__items__item__link {
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  text-decoration: none;
  opacity: 0.8;
}
.header__navbar__items__item__link:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .header__navbar__items {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }
}
.main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main__artworks-section__title {
  font-size: 32px;
  font-weight: 600;
}
.main__artworks-section__artworks-list {
  list-style: none;
}

.footer {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__image-wrapper {
  margin: auto;
}
.footer__image-wrapper img {
  height: 200px;
  width: auto;
  max-width: 1200px;
}
.footer__items {
  padding: 20px 0;
  text-align: center;
}
.footer__items__disclaimer {
  color: #767676;
  font-size: 16px;
  font-weight: 16px;
}

.search-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.search-bar__label {
  font-size: 32px;
  font-weight: 600;
}
.search-bar__input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 30px;
  gap: 10px;
}
.search-bar__input-wrapper input {
  border-radius: 10px;
  border: 1px solid gray;
  height: 100%;
  width: 100%;
  padding: 0 10px;
}
.search-bar__input-wrapper input:focus {
  outline: none;
}
.search-bar__input-wrapper__button {
  all: unset;
}
.search-bar__input-wrapper__button:hover {
  cursor: pointer;
}
.search-bar__error-label {
  font-size: 16px;
  font-weight: 300;
  color: #F0141E;
  opacity: 0.8;
}

.artwork-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
  min-width: 200px;
}
.artwork-card__image {
  max-width: 500px;
  height: auto;
}
.artwork-card__title {
  font-size: 20px;
  font-weight: 500;
}
.artwork-card__description {
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}

/*# sourceMappingURL=style.css.map */
